*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
  
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

:root{
    --summary-color: #525B63;
    /* Buttons */
    --button-color: #2A323D;
    --newsletter-button-width: 15.6rem;
    --newsletter-button-height: 4.6rem;
    --newsletter-button-radius: .5rem;
    --newsletter-button-font: 1.4rem;

    --round-button-padding: 0 3.3rem;
    --round-button-height: 6.2rem;
    --round-button-radius: 3.7rem;
    --round-button-font: 1.8rem;

    --nav-button-width: 12rem;
    --nav-button-height: 4.5rem;
    --nav-button-radius: 4.8rem;
    --nav-button-font: 2rem;

    /* Form Input */
    --input-color: #C9D3DD;
    --input-width: 34.5rem;
    --input-height: 4.4rem;
    --input-border-radius: .8rem;

    /* Cards */

    /* Image cards */
    --left-image-card-width: 72.9rem;
    --left-image-card-height: 56.8rem;
    --left-image-card-radius: 1.2rem;
    --left-image-card-heading: 3.6rem;
    --left-image-card-date: 1.9rem;
    --left-image-card-margin-heading-bottom: 4rem;
    --left-image-card-margin-date-bottom: 4.3rem;

    --right-image-card-width: 34.8rem;
    --right-image-card-height: 26.9rem;
    --right-image-card-radius: 1.8rem;
    --right-image-card-heading: 2.1rem;
    --right-image-card-date: 1.7rem;
    --right-image-card-margin-heading-bottom: 3.2rem;
    --right-image-card-margin-date-bottom: 2.7rem;

    /* No Border cards */
    --nborder-card-width: 96.1rem;
    --nborder-card-height: 15.5rem;
    --nborder-card-margin: 3.6rem 0;
    --nborder-card-image-width: 24.3rem;
    --nborder-card-image-height: 15.8rem;
    --nborder-card-image-radius: .5rem;
    --nborder-card-text-width: 71.8rem;
    --nborder-cared-text-padding: 2.4rem 3.1rem 3rem 3.8rem;
    --nborder-card-heading-margin-bottom: 2.8rem;
    --nborder-card-heading: 2.4rem;
    --nborder-card-summary: 1.6rem;
    
    /* Card */
    --card-color: #C9D3DD;
    --card-margin-bottom: 4.1rem;
    --card-width: 91.5rem;
    --card-height: 27.7rem;
    --card-radius: 1rem;
    --card-image-width: 34.3rem;
    --card-image-height: 100%;
    --card-text-padding: 3.3rem 9rem 3.3rem 3.5rem;
    --card-text-heading-margin-bottom: 3.3rem;
    --card-text-heading-font: 2.6rem;
    --card-text-summary-font: 1.7rem;
    --card-text-date-font: 1.7rem;
    --card-text-length: 44.7rem;

    /* Vertical Card */
    --vertical-card-height: 53.6rem;
    --vertical-card-width: 34.6rem;
    --vertical-card-radius: 1.5rem;
    --vertical-card-image-height: 26rem;
    --vertical-card-image-width: 34rem;
    --vertical-card-text-padding: 2.6rem 3.1rem 2.8rem 3.1rem;
    --vertical-card-text-heading-font: 2.4rem;
    --vertical-card-text-heading-margin: 7,8rem;
    --vertical-card-text-heading-width: 27.9rem;
    --vertical-card-text-heading-height: 8.9rem;
    --vertical-card-text-date-font: 1.7rem;
    --vertical-card-text-margin-bottom: 2.6rem;
    --vertical-card-text-link-font: 1.7rem;

    /* Navbar */
    --navbar-links-color: #3B4755;
    --navbar-links-font: 1.7rem;
    --navbar-logo-font: 2.9rem;
    --navbar-logo-color: #2A323D;

    /* Hero */
    --hero-title-font: 4.7rem;
    --hero-summary-font: 2rem;
}

/* Buttons */

.newsletter-button{
    width: var(--newsletter-button-width);
    height: var(--newsletter-button-height);
    background-color: var(--button-color);
    border: .2rem solid var(--button-color);
    border-radius: var(--newsletter-button-radius);
    color: white;
    font-size: var(--newsletter-button-font);
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button-1{
    padding: var(--round-button-padding);
    width: 21.7rem;
    height: var(--round-button-height);
    background-color: transparent;
    border: .2rem solid var(--button-color);
    border-radius: var(--round-button-radius);
    color: var(--button-color);
    font-size: var(--round-button-font);
    text-transform: uppercase;
    letter-spacing: .1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button-2{
    padding: var(--round-button-padding);
    width: 26.2rem;
    height: var(--round-button-height);
    background-color: transparent;
    border: .2rem solid var(--button-color);
    border-radius: var(--round-button-radius);
    color: var(--button-color);
    font-size: var(--round-button-font);
    text-transform: uppercase;
    letter-spacing: .1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button{
    width: var(--nav-button-width);
    height:var(--nav-button-height);
    background-color: transparent;
    border: .2rem solid var(--button-color);
    border-radius: var(--nav-button-radius);
    color: var(--button-color);
    font-size: var(--nav-button-font);
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding-left: 1rem;

    display: flex;
    justify-content: start;
    align-items: center;
}

/* Cards */

/* Image cards */
.left-image-card{
    width: var(--left-image-card-width);
    height: var(--left-image-card-height);
    border-radius: var(--left-image-card-radius);
    background-image: url(images/unsplash-photo-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.left-medium{
    font-size: var(--left-image-card-date);
    font-weight: bold;
    margin-bottom: var(--left-image-card-margin-date-bottom);
    color: white;
}

.left-image-heading{
    font-size: var(--left-image-card-heading);
    font-weight: bold;
    padding: 0 2rem;
    margin-bottom: var(--left-image-card-margin-heading-bottom);
    text-align: center;
    color: white;
}

.right-image-card{
    width: var(--right-image-card-width);
    height: var(--right-image-card-height);
    border-radius: var(--right-image-card-radius);
    background-image: url(images/unsplash-photo-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.right-medium{
    font-size: var(--right-image-card-date);
    font-weight: bold;
    margin-bottom: var(--right-image-card-margin-date-bottom);
    color: white;
}

.right-image-heading{
    font-size: var(--right-image-card-heading);
    font-weight: bold;
    padding: 0 2rem;
    margin-bottom: var(--right-image-card-margin-heading-bottom);
    text-align: center;
    color: white;
}


/* No border cards */
.card-no-border{
    width: var(--nborder-card-width);
    height: var(--nborder-card-height);
    margin: var(--nborder-card-margin);
    
    display: flex;
}

.card-no-border img{
    width: var(--nborder-card-image-width);
    height: var(--nborder-card-image-height);
    object-fit: cover;
    border-radius: var(--nborder-card-image-radius);
}

.card-no-border-text{
    width: var(--nborder-card-text-width);
    padding: var(--nborder-cared-text-padding);
}

.card-no-border-text h3{
    font-size: var(--nborder-card-heading);
    color: var(--button-color);
    margin-bottom: var(--nborder-card-heading-margin-bottom);
}

.card-no-border-text p{
    font-size: var(--nborder-card-summary);
    color: var(--summary-color);
}


/* Normal Card */
.card{
    display: flex;
    margin-bottom: var(--card-margin-bottom);
    width: var(--card-width);
    height: var(--card-height);
    border: solid .3rem var(--card-color);
    border-radius: var(--card-radius);
}

.card img{
    width: var(--card-image-width);
    height: var(--card-image-height);
    object-fit: cover;
    border-radius: var(--card-radius);
}

.card .text{
    padding: var(--card-text-padding);
}

.card .text h3{
    width: var(--card-text-length);
    font-size: var(--card-text-heading-font);
    color: var(--button-color);
    margin-bottom: var(--card-text-heading-margin-bottom);
    overflow: ellipse;
}

.card .text .medium{
    font-size: var(--card-text-summary-font);
    width: var(--card-text-length);
    color: var(--summary-color);
    height: 7.2rem;
    overflow: hidden;
}

.card .text .small{
    color: var(--summary-color);
    font-size: var(--card-text-date-font);
    margin-bottom: var(--card-text-heading-margin-bottom);
}


/* Vertical Cards */
.card-vertical{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    position: relative;
    width: var(--vertical-card-width);
    height: var(--vertical-card-height);
    border: solid .3rem var(--card-color);
    border-radius: var(--vertical-card-radius);
}

.card-vertical img{
    width: 100%;
    height: var(--vertical-card-image-height);
    border-top-left-radius: var(--vertical-card-radius);
    border-top-right-radius: var(--vertical-card-radius);
    object-fit: cover;
}

.card-vertical .text{
    padding: var(--vertical-card-text-padding);
}

.card-vertical .text h3{
    width: var(--vertical-card-text-heading-width);
    color: var(--button-color);
    font-size: var(--vertical-card-text-heading-font);
}

.card-vertical .text .small{
    font-size: var(--vertical-card-text-date-font);
    color: var(--summary-color);
    margin-bottom: var(--vertical-card-text-margin-bottom)
}

.card-vertical .text .small-1{
    position: absolute;
    bottom: 2.8rem;
    color: var(--summary-color);
    font-size: var(--vertical-card-text-link-font);
    text-decoration: none;
    color: black;
}


/* Input */
.newsletter-input{
    width: var(--input-width);
    height: var(--input-height);
    border: .2rem solid var(--input-color);
    border-radius: var(--input-border-radius);
}


/* Navbar */
.navbar{
    height: 9.5rem;
    width: 100%;
    background-color: white;
    padding-left: 8.6rem;
    padding-right: 7.7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: var(--navbar-logo-font);
    color: var(--navbar-logo-color);
}

.categories{
    display: flex;
    list-style-type: none;
}

.categories li{
    margin: 3.5rem;
}

.categories li a{
    text-decoration: none;
    color: var(--navbar-links-color);
    font-size: var(--navbar-links-font);
    font-weight: bold;
}

.navbar-button{
    height: 100%;
    top: 2.6rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Hero */
.hero{
    height: 38.7rem;
    width: 100%;
    background-color: #EDF0F5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-size: var(--hero-title-font);
    color: var(--button-color);
    margin-bottom: 3.2rem;
}

.hero p{
    font-size: var(--hero-summary-font);
}


/* Newsletter */
.newsletter{
    height: 17.2rem;
    display: flex;
    align-items: center;
    position: relative;

    border-bottom: solid .2rem var(--card-color);
}

.newsletter form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 8.8rem;
    padding-right: 7.6rem;
}

.newsletter form div{
    width: 53.7rem;
    display: flex;
    justify-content: space-between;
}

label{
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--button-color);
}

input{
    padding: 0 .5rem;
    font-size: 1.8rem;
}


/* Image section */
.latest-posts-images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 4.6rem;
    padding-left: 8.8rem;
    padding-right: 8.8rem;
    margin-bottom: 6rem;
}

.latest-posts-images .right{
    height: var(--left-image-card-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Latest post section */
.latest-posts-cards{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 9.7rem;
    padding-bottom: 6.7rem;
    border-bottom: solid .2rem var(--card-color);
}

.button-center{
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Most popular cards */
.most-popular{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6.7rem;
    padding-bottom: 6.7rem;
    border-bottom: solid .2rem var(--card-color);
}

.most-popular h2{
    font-size: 3.7rem;
    margin-bottom: 6.7rem;
}


/* Newest category */
.newest-from-category{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7.5rem;
}

.newest-from-category h2{
    padding-top: 6.7rem;
    font-size: 3.7rem;
}

.newest-from-category .cards{
    padding-top: 6.7rem;
    display: flex;
    justify-content: center;
}

/* Newsletter Bottom */
.newsletter-bottom{
    display: flex;
    height: 43.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDF0F5;
}

.newsletter-text h2{
    font-size: 3.5rem;
    margin-bottom: 4rem;
    text-align: center;
    color: var(--button-color);
}

.newsletter-text p{
    font-size: 2rem;
    text-align: center;
    color: #525B63;
    margin-bottom: 5.5rem;
}

.newsletter-bottom form{
    display: flex;
    justify-content: space-between;
    width: 53.2rem;
}


/* Footer */
.footer-nav{
    height: 9.5rem;
    width: 100%;
    background-color: white;
    padding-left: 8.6rem;
    padding-right: 7.7rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: var(--navbar-logo-font);
    color: var(--navbar-logo-color);
    font-family: 'Revalia', cursive;
    cursor: pointer;
}

.links{
    display: flex;
    list-style-type: none;
}

.links li{
    margin: 3.5rem;
}

.links li a{
    text-decoration: none;
    color: var(--navbar-links-color);
    font-size: var(--navbar-links-font);
    font-weight: bold;
}

.social-link{
    font-size: 3rem;;
}

.copyright{
    border-top: solid .2rem var(--card-color);
    font-size: 1.5rem;
    padding: 1rem;
    color: var(--button-color);
}

